@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

.none{
  display: none;
}

body {
  overflow-x: hidden;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  background-color: #090517;
  font-size: 10px;
  scroll-behavior: smooth;
  color: #f7f9ff;
  /* background: -webkit-linear-gradient(272deg, #373737 0%, #161616 50%, #000000 100%); */
}

body {
  font-style: 1,6rem;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

.gradient_img {
  text-align: center;
}

nav .btn_around {
  position: absolute;
  right: 2.5rem;
}

section .btn_around {
  margin-top: 3.5999999999999996rem;
}

section .btn span {
  position: relative;
  top: 1.1000000000000014rem;
  left: 0.1rem;
  font-size: 1.5rem;
  font-weight: 100;
}

section .btn span a {
  text-decoration: none;
  color: #000;
  padding: 2rem 3.3rem;
}

.btn_around {
  background: linear-gradient(142deg, #e12884 0%, #7d86b0 50%, #12eadf 100%);
  display: inline-block;
  width: 14rem;
  height: 4rem;
  border-radius: 100rem;
  padding: 0;
  -webkit-transition: 1s;
  /* transition: 1s; */
}

.btn_around .btn {
  background: #f9f9fc;
  display: inline-block;
  width: 13.8rem;
  height: 3.8rem;
  border-radius: 113rem;
  text-align: center;
  position: relative;
  top: 0.1rem;
  left: 0.1rem;
}

.btn_around:hover {
  background: linear-gradient(315deg, #e12884 0%, #7d86b0 50%, #12eadf 100%);
  -webkit-transition: 3s;
  transition: 3s;
}

.nav_bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  position: absolute;
  top: 0rem;
  margin: 0;
  height: 60px;
  justify-content: flex-end;
}

nav {
  /* margin-top: 3.5rem; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* max-width: 150rem; */
  background-color: #09051700;
  /* height: 5rem; */
  padding: 2rem 0;
  color: white;
  position: fixed;
  z-index: 1000000000000000000;
  width: 100%;
  backdrop-filter: blur(15px);
}

nav li {
  padding: 0rem 1rem;
  display: inline;
}

nav li a {
  color: #f8f8f8;
  text-decoration: none;
  font-weight: 300;
  font-size: 1.6rem;
  letter-spacing: .1rem;
}

nav li a span {
  /* font-weight: 500; */
  /* color: #ff9178; */
  /* position: relative; */
  /* top: 1rem; */
}

nav ul {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav a {
  display: block;
  position: relative;
}

nav a::after {
  content: ""; 
  position: absolute;
  bottom: -1rem; 
  left: 0; 
  width: 100%; 
  height: 0.1em; 
  background-color: #ffffff; 
  opacity: 0; 
  -webkit-transition: opacity 300ms, -webkit-transform 300ms; 
  transition: opacity 300ms, -webkit-transform 300ms; 
  transition: opacity 300ms, transform 300ms; 
  transition: opacity 300ms, transform 300ms, -webkit-transform 300ms;
}

nav li a {
  text-decoration: none;
  color: #ffffff;
}

nav .under_menu a {
  padding: 0 1rem;
  font-size: 1.5rem;
}

nav li a::after {
  opacity: 1;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: center;
          transform-origin: center;
}

nav .under_menu a:hover::after,
nav .under_menu a:focus::after {
  -webkit-transform: scale(1);
          transform: scale(1);
}

nav .home_li a::after {
  opacity: 0;
}

.nav_selected_item a::after {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.nav_selected_item a::after {
  opacity: 1;
  -webkit-transform: translate3d(0, 0.2em, 0);
          transform: translate3d(0, 0.2em, 0);
}

.catch {
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: 700;
  margin: 3rem auto;
  background: -webkit-linear-gradient(45deg, #827aff, #00ff95 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: -5px -4px 9px #12eadf45, 5px 4px 9px #e1288421;
}

.under_menu {
  /* padding: 0 2rem; */
  /* background-color: #f7f9ff; */
}

.main_title a {
  text-decoration: none;
  color: white;
  font-size: 2rem;
  padding: 0 2.5rem;
  /* font-weight: 100; */
  letter-spacing: 2px;
  /* margin-top: 13.3rem; */
  z-index: 10000000000;
}

.btn_li {
  padding-right: 0;
}

.mobile {
  display: none;
}

@media (max-width: 1100px) {
  .mobile {
    display: block;
    z-index: 100000000000;
  }
  .contact .form {
    margin-right: 0;
  }
  .nav_bar {
    background: #191b2a;
    position: fixed;
    right: -45rem;
    height: 100vh;
    top: 0;
    bottom: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 43rem;
    z-index: 1;
  }
  nav li {
    padding: 0rem 1rem;
    margin: 3rem;
  }
  .mobile_check {
    display: none;
  }
  #menu_opener ~ .menu_backlayer {
    display: none;
  }
  #menu_opener:checked ~ .menu_backlayer {
    display: block;
    display: block;
    background: #00000070;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
  }
  #menu_opener ~ .nav_bar {
    -webkit-transform: translate(0rem);
            transform: translate(0rem);
    -webkit-transition: -webkit-transform 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: -webkit-transform 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: transform 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: transform 1s cubic-bezier(0.075, 0.82, 0.165, 1), -webkit-transform 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  #menu_opener:checked ~ .nav_bar {
    -webkit-transform: translate(-45rem);
            transform: translate(-45rem);
    -webkit-transition: -webkit-transform 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: -webkit-transform 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: transform 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: transform 1s cubic-bezier(0.075, 0.82, 0.165, 1), -webkit-transform 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  .opener_text {
    position: fixed;
    top: 10px;
    right: 30px;
    padding: 2rem 0;
    opacity: 0;
    /* display: none; */
  }
  .nav-container .hamburger-lines {
    display: block;
    height: 26px;
    width: 32px;
    position: fixed;
    top: 21px;
    right: 36px;
    z-index: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .nav-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #ffffff;
  }
  .nav-container .hamburger-lines .line1 {
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    -webkit-transition: -webkit-transform 0.4s ease-in-out;
    transition: -webkit-transform 0.4s ease-in-out;
    transition: transform 0.4s ease-in-out;
    transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
  }
  .nav-container .hamburger-lines .line2 {
    -webkit-transition: -webkit-transform 0.2s ease-in-out;
    transition: -webkit-transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
  }
  .nav-container .hamburger-lines .line3 {
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
    -webkit-transition: -webkit-transform 0.4s ease-in-out;
    transition: -webkit-transform 0.4s ease-in-out;
    transition: transform 0.4s ease-in-out;
    transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
  }
  .nav-container input[type="checkbox"]:checked ~ .menu-items {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .nav-container input[type="checkbox"]:checked ~ .logo {
    display: none;
  }
}

.main_catch {
  font-size: 1.6rem;
  font-weight: 400;
  max-width: 81rem;
  /* font-weight: lighter; */
  /* letter-spacing: .1rem; */
  text-align: center;
  margin: 1rem 0 6rem 0;
  /* text-transform: uppercase; */
  margin: 0rem auto -1rem;
  line-height: 2;
  color: #f7f9ff;
}

.main_catch span {
  font-weight: 600;
  font-size: 8rem;
  /* padding: 2.5rem; */
  letter-spacing: .7rem;
  /* display: inline-block; */
  /* color: #FFEB3B; */
  background: -webkit-linear-gradient(313deg #bbb4d3 0%, #bbb4d3 100%);
  background: linear-gradient(315deg, rgb(255 255 255) 0%, rgb(255 255 255) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* text-shadow: -5px -4px 9px #e59003, 5px 4px 9px #ff91783b; */
  /* font-size: 10rem; */
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* justify-content: space-between; */
  /* flex-direction: column; */
}

h1{
  /* color: #fff; */
  /* size: 5rem; */
  position: relative;
  top: -1rem;
}

h1 span{
  color: white;
  font-weight: 700;
}

.rev {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  justify-content: space-between;
}

section {
  margin-top: 1rem;
  /* padding: 15rem 19rem; */
  max-width: 150rem;
  max-width: 159rem;
  margin: auto;
  /* margin-top: 10rem; */
}

.service_img {
  /* width: 50%; */
  display: flex;
  text-align: center;
  align-content: flex-start;
  align-items: center;
}

.service_liste {
  padding: 0;
  padding-top: 0rem;
  width: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.service_text {
  max-width: 68rem;
  padding: 4rem 0;
}

.service_text p {
  font-size: 1.6rem;
  line-height: 215%;
  font-weight: 300;
  margin-top: 2.4rem;
  /* letter-spacing: .2rem; */
  color: white;
  /* padding-bottom: 3rem; */
}

h2 {
  text-align: center;
  font-size: 2rem;
  font-weight: 200;
  letter-spacing: .7rem;
  color: #d4d4d4;
  margin-top: 5rem;
  /* display: none; */
}

h3 {
  font-weight: 600;
  display: inline;
  letter-spacing: .4rem;
  font-size: 3.2rem;
  color: white;
  /* background: -webkit-linear-gradient(315deg, #e12884 0%, #7d86b0 50%, #12eadf 100%); */
  /* -webkit-background-clip: text; */
  /* -webkit-text-fill-color: transparent; */
  /* text-shadow: -5px -4px 9px #12eadf45, 5px 4px 9px #e1288421; */
  text-transform: uppercase;
}

.num {
  /* font-size: 2rem; */
  /* font-weight: 200; */
  /* letter-spacing: 1.7rem; */
  /* color: #555555; */
  font-size: 2rem;
  font-weight: 200;
  letter-spacing: .2rem;
  margin-right: 3rem;
  color: #c7c7c7;
  position: relative;
  top: 0.2rem;
}

.headline {
  color: #555555;
  text-transform: uppercase;
  margin-top: 2rem;
  letter-spacing: .2rem;
  margin-top: 2.4rem;
}

.work {
  /* background-color: #fff; */
}

.contact {
  background-color: #fff;
  padding: 4rem;
  margin: 5rem;
  border-radius: 3rem;
  background-color: white;
  /* width: 80vw; */
  width: 81vw;
  border-radius: 2rem;
  /* padding: 4rem; */
  margin: 4rem auto;
  background-image: url(../img/bg.png);
}

.work_imgs {
  display: -webkit-box;
  display: -ms-flexbox;
  row-gap: 10%;
  row-gap: 30%;
  display: flex;
  flex-wrap: wrap;
  width: 85vw;
  max-width: 100%;
  -ms-flex-pack: distribute;
  justify-content: space-between;
  margin: 8rem auto 3rem;
  text-align: center;
  justify-content: center;
  column-gap: 30px;
  /* padding: 4rem; */
  /* margin: 3rem 15rem 15rem 15rem; */
}

.work_imgs img {
  max-width: 450px;
  width: 100%;
  /* padding: 0 10px 0 0; */
  height: auto;
  border-radius: 1rem;
  margin: 0 0 30px 0;
  /* border: 1px solid; */
  filter: saturate(40%);
  /* filter: hue-rotate(84deg); */
  /* filter: saturate(100%); */
}

.work_btn {
  text-align: center;
  margin-bottom: 10rem;
}

.work_btn .btn_around {
  text-align: left;
  margin-top: 0;
}

.about {
  /* background-image: url("../img/names.svg"); */
  background-repeat: no-repeat;
  background-position: center;
  padding: 16rem 0 9rem;
}

.about p {
  font-size: 1.6rem;
  line-height: 215%;
  font-weight: 300;
  margin: 8rem auto;
  text-align: center;
  color: #ffffff;
  max-width: 60rem;
}

.serveces {
  /* padding-top: 16rem; */
  /* padding-bottom: 0; */
  /* margin: -15rem auto 0; */
  margin-top: 18rem;
}

.catchy {
  font-size: 2.5rem;
  font-weight: 600;
  padding: 1.5rem;
  line-height: 6rem;
  letter-spacing: .1rem;
  color: #ffffff;
  display: inline-block;
  /* background: -webkit-linear-gradient(142deg, #e1988f 0%, #a8929d 50%, #8494c1 100%); */
  /* -webkit-background-clip: text; */
  /* -webkit-text-fill-color: transparent; */
  /* text-shadow: -5px -4px 9px #12eadf45, 5px 4px 9px #e1288421; */
  /* text-transform: uppercase; */
}

.mail_infos {
  text-align: center;
  margin: 8rem auto;
  max-width: 73rem;
}

.mail_infos .sub_t {
  font-size: 6rem;
  font-weight: 700;
  PADDING: 0 3rem 3rem 3rem;
}

.contact .work_btn {
  margin-top: 2rem;
  /* background-color: beige; */
}

.contact .btn_around {
  width: 20rem;
}

.contact .btn_around .btn {
  background: #f9f9fc;
  display: inline-block;
  width: 19.8rem;
  height: 3.8rem;
  border-radius: 113rem;
  text-align: center;
  position: relative;
  top: 0.1rem;
  left: 0.1rem;
}

.contact h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.contact h3:before,
.contact h3:after {
  content: '';
  border-top: 1px solid;
  margin: 0 20px 0 0;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 20px;
          flex: 1 0 20px;
}

.contact h3:after {
  margin: 0 0 0 20px;
}

.social_title {
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 20%;
  color: #fff;
}

.social {
  text-align: center;
  padding: 0 24rem;
  margin-top: 11rem;
}

.social a {
  text-decoration: none;
}

.social a img {
  margin: 4rem 2rem 0 2rem;
  width: 50px;
}



footer{
  text-align: center; 
  padding-bottom: 2rem; 
  background-color : #fff
}

.dif_sec{
  /* background-color: #212121; */
  /* margin-top: 4rem; */
  /* padding-top: 16rem; */
}

.gradient_img img{
    width: 64rem;
    max-width: 100%;
  }





  @media (max-width: 1000px) {

    nav .btn_around {
      position: absolute;
      right: auto;
      bottom: 6rem;
  }
}


.ban_img-mob{
  display: none;
}

@media (max-width: 1100px) {

.dif_sec .contact {
  /* background-image: none; */
}

  .num {
    display: none;
  }
  .flex, .rev {
    flex-direction: column;
    align-items: center;
    padding: 5rem 0rem 5rem;
    width: 100wv;
  }

  header .ban_img{
    display: none;
  }

  .ban_img-mob{
    display: block;
    width: 80vw;
    margin: auto;
    display: inherit;
    max-width: 150rem;
  }

  html{
    font-size: 8px;
  }

  .service_liste{
    flex-direction: column;
  }


  section {
    /* padding: 15rem 10rem; */
  }
  
  .service_text {
    width: 100%;
}
  

.service_liste{
  padding-top: 5rem;
}

.service_img img{
  max-width: 100%;
}

.about {
  background-size: 100%;
}


}


@media (max-width: 1000px) {

.about {
  background-image: none;
}

section {
  /* padding: 15rem 4rem; */
  margin-top: -10rem;
}


.work_imgs {
  flex-direction: column;
}

.work_imgs img {
  width: 100%;
  padding-top: 1rem;
}


.catchy {
  font-size: 1.5rem;
}

.mail_infos .sub_t {
    font-size: 5rem;
    font-weight: 700;
}


.social {
  padding: 0rem;
  margin-top: 11rem;
}

.social img{
  width: 4rem;
}

}

.work_imgs img:hover{
  filter: saturate(100%);
  transition: .5s;
  /* transition: cubic-bezier(0.75, 0.82, 0.165, 10); */
}

/*# sourceMappingURL=app.css.map */




.h1 img{
  width: 1.3rem;
  /* top: 1rem; */
  /* position: relative; */
}


.cr{
  margin-top: 8rem;
}

.main_cta{
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
  display: inline-block;
  border: solid white 1px;
  padding: 2rem 6rem;
  border-radius: 16px;
  margin: 2rem 0 2rem 0;
  color: rgb(0 0 0);
  text-decoration: none;
  background-color: #ffffff;
}
.sub_cta{
  /* font-size: 1.5rem; */
  /* display: inline-block; */
  /* border: solid white 2px; */
  /* padding: 1rem 3rem; */
  /* padding: 2rem 6rem; */
  /* margin: 2rem 2rem 2rem 0; */
  /* FONT-VARIANT: JIS04; */
  /* border-radius: 4px; */
  /* color: rgb(255 255 255); */
  /* text-decoration: none; */
  color: white;
  font-size: 1.5rem;
  display: inline-block;
  border: solid white 1px;
  padding: 2rem 6rem;
  border-radius: 16px;
  /* margin: 2rem 2rem 2rem 0; */
  color: rgb(255 255 255);
  font-weight: 600;
  text-decoration: none;
  background-color: #020418;
}

.btn-box{
  text-align: center;
  /* margin-top: 15rem; */
}


.title_sec{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* background-image: url(../img/bg1.png); */
  background-repeat-x: repeat;
  background-size: 150rem;
  margin-bottom: 5rem;
}


.top-img{

  position: absolute;
  right: -14rem;
  bottom: 1rem;
  width: 35rem;

}


.sub_catch{
  font-size: 2rem;
  margin: 3rem;
  font-weight: 400;
  max-width: 81rem;
  /* font-weight: lighter; */
  /* letter-spacing: .1rem; */
  text-align: center;
  /* margin: 1rem 0 6rem 0; */
  /* text-transform: uppercase; */
  margin: 2rem auto 0rem;
  line-height: 7rem;
  letter-spacing: .1rem;
  color: #f7f9ff;
  text-align: center;
  font-size: 2rem;
  font-weight: 200;
  letter-spacing: .7rem;
  color: #d4d4d4;
  margin-top: 5rem;
}

.pp{
  width: 13rem;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(10%);
  opacity: .8;
  display: block;
  margin: 8rem auto 3rem;
  border: 7px #fff solid;
  border-radius: 100rem;
}

.nav_cta{
  color: white;
  font-size: 1.5rem;
  display: inline-block;
  /* border: solid black 1px; */
  padding: 2rem 6rem;
  border-radius: 16px;
  margin: 2rem 2rem 2rem 0;
  color: rgb(0 0 0);
  text-decoration: none;
  /* position: absolute; */
  background-color: #ffffff;
  /* right: 1rem; */
  /* top: -3rem; */
}


.UX_section{
  /* background-color: #ffffff; */
  max-width: 80vw;
  border-radius: 2rem;
  padding: 4rem;
  margin: 3rem auto 10rem;
  margin-bottom: 0;
  padding-bottom: 0;
  background-color: #1B1B37;
  border-radius: 20px;
}

.service_img img{max-width: 38rem;}


.main_cta a {
  text-decoration: none;
  color: #ffffff;
}

.sub_t{
  color: #ffffff;
}


.ban_img{
  width: 85.5vw;
  margin: auto;
  display: inherit;
  max-width: 150rem;
}


.about .about_name{
  /* background-color: red; */
  font-weight: 500;
  margin-top: -1rem;
  margin-bottom: -9rem;
}


.about .about-job{
  /* background-color: blue; */
  color: #d4d4d4;
  margin-bottom: -3rem;
}


.contact h2 {
  color: white;
}


.flex-sec{
  justify-content: space-around; 
}


.services-btn_around{
  margin-top: 37px;
}

.work_btn img{
  width: 1.5rem;
  padding: 0 0.5rem;
  position: relative;
  top: 0.2rem;
}



.contact{
  /* background-image: url(../img/left.png), url(../img/right.png); */
  background-size: cover;
  background-position: inherit;
  background-position: left,right;
  background-repeat: no-repeat;
}



.contact .sub_cta{
  background-color: #ffffff;
  color: black;
}

.img_mid{
  /* transform: scale(1.2); */
}

.subpar{
  margin-bottom: 3rem;
}





.main_cta:hover{
  transform: scale(1.05);
 }
 
 .sub_cta:hover{
   transform: scale(1.05);
 }

.main_cta:hover{
 transform: scale(1.05);
 transition: transform 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.sub_cta:hover{
  transform: scale(1.05);
  transition: transform 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}



/*annime*/

.annimation {
    opacity:0;
    transform: translateY(148px);
}

.animation_suite {
    opacity:1;
    /* margin-top: 16rem; */
    /* max-width: 100%; */
    transform: translateY(0px);
    transition: transform 3s cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.experiance .annimation {
    opacity:0;
    transform: translateY(50px);
}

.experiance  .animation_suite {
    opacity:1;
    transform: translateY(0px);
    transition: transform 1s;
}





@media (max-width: 1100px) {
  .nav-container .hamburger-lines{
    display: none;
  }

  .title_sec{
    padding: 4rem;
  }


  .UX_section {

    padding: 0rem;

}

  .about {
    /* background-image: url(../img/names.svg); */
    background-repeat: no-repeat;
    background-position: center;
    padding: 0rem 4rem 16rem;
    margin-top: 17rem;
} 
  .serveces {
    padding-bottom: 0;
}

  .dif_sec {
    /* background-color: #212121; */
    /* margin-top: 4rem; */
    padding-top: 0rem;
}


  .img_mid {
    transform: scale(1.1);
  }

  .work_imgs img {
    width: 100%;
    max-width: 1000rem;
    padding-top: 0rem;
}
}


.bg_top{
  position: absolute;
  top : 0;
  z-index: -100;
  right: 0;
  left: 0;
  width: 100vw;
}



@media (max-width: 1600px) {

  .work_imgs img {width: 100%;/* max-width: 550px; */}

}



@media (max-width: 650px) {


  .main_catch span {
    font-size: 6rem;
    /* line-height: 1.5; */
    /* margin-bottom: 2rem; */
  }
}


@media (max-width: 510px) {


  .main_catch span {
    font-size: 3rem;
    /* line-height: 1.5; */
    /* margin-bottom: 2rem; */
  }
}

@media (max-width: 450px) {


  .main_catch span {
    font-size: 4rem;
    /* line-height: 1.5; */
    /* margin-bottom: 2rem; */
  }
}

@media (max-width: 370px) {


  .main_catch span {
    font-size: 3rem;
    /* line-height: 1.5; */
    /* margin-bottom: 2rem; */
  }
}

b{
  font-weight: 600;
}



.langage{
  display: flex;
  background-color: #140e2b;
  /* width: 6rem; */
  padding: .5rem;
  border: 1px white solid;
  border-radius: 1rem;
  justify-content: space-around;
  font-size: 1.5rem;
  margin: 1rem 3rem 1rem 0;
  align-content: stretch;
}

.selected_l{
  color: #9fb5cd;
  border: 1px #9fb5cd solid;
  background-color: #84c5e240;
  border-radius: .7rem;
  /* padding: .9rem 2rem; */
}

.langage div a{
  padding: 0.9rem 2rem;
}



.lang_box{position: relative;top: 4.4rem;right: -3rem;}

.lang{
  /* background-color: white; */
  display: flex;
  flex-direction: column;
  position: relative;
  right: 7rem;
  border: 1px solid;
  margin-top: 1rem;
  border-radius: 1rem;
  padding: .5rem 0;
  background-color: #09051596;
  /* height: 5rem; */
  /* padding: 4rem 0; */
  /* color: white; */
  /* position: fixed; */
  z-index: 1000000000000000000;
}
.lang li{
  padding: 0rem;
}

.lang .selected{
  color: #ff9178;
  padding: 1rem 3rem;

}
.lang a {
  padding: 1rem 3rem;
  font-size: 1rem;
}

.lang a:hover{
  transform: scale(1.05);
}

.lang_view{
  color: white;
  position: relative;
  top: -.5rem;
}

.open_lang{
  cursor: pointer;
  padding: 3rem .5rem;
}


.lang{
opacity: 0;
cursor: default;
pointer-events: none;
}

#open_lang:checked ~ .nav_bar .lang_box .lang {
  opacity: 1;
}


#open_lang:checked ~ .nav_bar .lang_box .lang a{
  opacity: 1;
  cursor: pointer;
  pointer-events: visible;
}




.opener_text{
  cursor: default;
  pointer-events: none;
}

/* lang */




.current {
text-transform: uppercase;
position: relative;
z-index: 1;
font-size: 1rem;
text-align: center;
display: flex;
background-color: rgba(0, 0, 0, 0);
transition: all .2s ease-out;
border-radius: 3px;
padding: 0 .2em 0 .7em;

}

.current span {
  display: inline-block;
  line-height: 1;
  padding: .7em .2em 0 0;
}

.current .arrow {
  display: inline-block;
  width: 20px;
  height: 20px;
}

.current &:hover {
    background-color: rgba(0, 0, 0, .1);
}


.options {

position: absolute;
right: 0;
top: .6em;

z-index: 0;
opacity: 0;

transition: all .36s ease-out;
display: none;
overflow: hidden;
box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}
.options  .switch.show-options & {
  display: block;
  z-index: 5;
}


.work_imgs a img{border: none,;text-align: left;}





.work{
  margin-top: 19rem;
}








/* Light Box */ 

.lightbox{
  display: flex;
  position: absolute;
  top:0;
  left: 0;
  bottom: 0;
  right: 0;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color:rgba(0,0,0,.5);
  z-index: 1000;
}
.lightbox img{
  max-width: 80vw;
  max-height: 80vh;
}
.lightboxContainer{
  background-color: #fff;
  padding: 1em;
}
#lightbox{
  display: none;
}
#lightbox:not(:checked) ~ .lightbox{
  display: none;
}




.cs_btn {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  position: relative;
}


.cs_btn {
  display: inline-block;
  position: relative;
  text-align: left;
  /* margin-left: 10px; */
}
.cs_btn::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.cs_btn:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}


.cs_box {
  text-align: left;
  font-size: 16px;
  max-width: 450px;
  width: 100%;
}

.cs_box p {
  font-size: 1.6rem;
  line-height: 185%;
  font-weight: 100;
  margin-top: 10px;
  /* letter-spacing: .2rem; */
  color: #b5b9c0;
  padding: 0 15px;
  /* padding-bottom: 3rem;*/
}

.cs_title{
  text-align: left;
  margin-top: -10px;
  padding: 0 15px;
}

.cs_btn_a{
  padding-left: 15px;
}

.cs_btn_a p{
  padding-left: 0px;
  color: #fff;
  font-weight: 200;
}




.work_imgs a {
  position: relative;
  display: inline-block; /* pour que le span reste au-dessus de l’image uniquement */
}

.img_lable {
  position: absolute;
  bottom: 40px;
  right: 8px;
  background: #090517;
  color: #fff;
  padding: 5px 15px;
  font-size: 12px;
  border-radius: 20px;
  pointer-events: none;
  font-weight: 500;
  transition: background-color 0.3s ease, color 0.3s ease;

}


.work_imgs a:hover .img_lable {
  background: rgb(58, 4, 4);

}

.png {
  background-color: #090517;
  transition: background-color 0.3s ease, color 0.3s ease;

}


.work_imgs a:hover .png {
  background-color: #032215;

}




@media (max-width: 650px) {
  .mail_infos .sub_t {
    font-size: 30px;
    font-weight: 700;
}
}



@media (max-width: 400px) {
  .mail_infos .sub_t {
    font-size: 25px;
    font-weight: 700;
}
}


@media (max-width: 360px) {
  .mail_infos .sub_t {
    font-size: 16px;
    font-weight: 700;
}
}